mmctl
bin
build
/logs

# Editor files
.vscode
.idea

coverage.txt
mmctl.md5.txt



vendor/github.com/mattermost/mattermost-server/v6/enterprise
vendor/github.com/mattermost/mattermost-server/v6/imports
