version: 2.1

orbs:
  codecov: codecov/codecov@1.0.5

executors:
  default:
    working_directory: ~/go/src/github.com/mattermost/mmctl
    docker:
      - image: circleci/golang:1.14.8

aliases:
- &restore_cache
  restore_cache:
    key: go-mod-v1-{{ checksum "go.sum" }}
- &save_cache
  save_cache:
    key: go-mod-v1-{{ checksum "go.sum" }}
    paths:
    - "/go/pkg/mod"

commands:
  install-golangci-lint:
    description: Install golangci-lint
    parameters:
      version:
        type: string
        default: 1.31.0
      gobin:
        type: string
        default: /go/bin
      prefix:
        type: string
        default: v1
        description: Prefix for cache key to store the binary.
    steps:
      - restore_cache:
          name: Restore golangci-lint cache
          keys: ['<< parameters.prefix >>-golangci-lint-{{ arch }}-<< parameters.version >>']
      - run:
          name: Install golangci-lint
          command: |
            mkdir -p << parameters.gobin >>
            command -v << parameters.gobin >>/golangci-lint && exit

            download=https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh
            wget -O- -q $download | sh -s -- -b << parameters.gobin >>/ v<< parameters.version >>
      - save_cache:
          name: Save golangci-lint cache
          key: '<< parameters.prefix >>-golangci-lint-{{ arch }}-<< parameters.version >>'
          paths: [<< parameters.gobin >>/golangci-lint]

jobs:
  docs:
    executor:
      name: default
    steps:
      - checkout
      - run:
          command: |
            echo "Making sure docs are updated"
            make docs
            if [[ -n $(git status --porcelain) ]]; then echo "Please update the docs using make docs"; exit 1; fi

  lint:
    executor:
      name: default
    steps:
      - checkout
      - attach_workspace:
          at: ~/go/mattermost/
      - install-golangci-lint
      - run:
          name: "Validate lint"
          command: |
            echo "Installing mattermost-govet"
            GO111MODULE=off go get -u github.com/mattermost/mattermost-govet
            make check

  setup:
    docker:
      - image: mattermost/mattermost-build-webapp:oct-2-2018
    working_directory: ~/go/src/github.com/mattermost/
    steps:
      - run:
          name: Checkout mattermost-server
          command: |
            git clone https://github.com/mattermost/mattermost-server.git

            cd mattermost-server
            git checkout $CIRCLE_BRANCH || git checkout release-5.33
      - persist_to_workspace:
          root: ~/go/src/github.com/mattermost
          paths:
            - mattermost-server

  test:
    machine:
      image: ubuntu-1604:201903-01
    working_directory: ~/go/src/github.com/mattermost/mmctl
    environment:
      COMPOSE_PROJECT_NAME: "circleci"
    steps:
      - checkout
      - attach_workspace:
          at: ~/go/src/github.com/mattermost/
      - run:
          name: Run Docker compose
          command: |
            cd ../mattermost-server/build
            docker-compose --no-ansi run --rm start_dependencies
            cat ../tests/test-data.ldif | docker-compose --no-ansi exec -T openldap bash -c 'ldapadd -x -D "cn=admin,dc=mm,dc=test,dc=com" -w mostest';
            docker-compose --no-ansi exec -T minio sh -c 'mkdir -p /data/mattermost-test';
            docker-compose --no-ansi ps
          background: true
      - run:
          name: Wait for docker compose
          command: |
              sleep 5
              docker run --rm --net circleci_mm-test appropriate/curl:latest sh -c "until curl --max-time 5 --output - http://mysql:3306; do echo waiting for mysql; sleep 5; done;"
              docker run --rm --net circleci_mm-test appropriate/curl:latest sh -c "until curl --max-time 5 --output - http://elasticsearch:9200; do echo waiting for elasticsearch; sleep 5; done;"
      - run:
          name: Run Tests
          no_output_timeout: 30m
          command: |
            ulimit -n 8096
            cd ../mattermost-server/build
            docker run -it --net circleci_mm-test \
              --env-file=dotenv/test.env \
              --env MM_SQLSETTINGS_DATASOURCE="postgres://mmuser:mostest@postgres:5432/mattermost_test?sslmode=disable&connect_timeout=10" \
              --env MM_SQLSETTINGS_DATASOURCE=postgres \
              -v ~/go/src:/go/src \
              -w /go/src/github.com/mattermost/mmctl \
              mattermost/mattermost-build-server:20200731_golang-1.14.6 \
              bash -c 'ulimit -n 8096 && make coverage'
      - codecov/upload:
        file:  coverage.txt

workflows:
  version: 2
  untagged-build:
    jobs:
      - docs
      - lint
      - setup
      - test:
          requires:
            - setup
