name: Test

on:
  push:
    branches:
      - master
      - "release-*"
  pull_request:

permissions:
  contents: read

jobs:
  check-docs:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18.x

    - name: check docs
      run: |
        echo "Making sure docs are updated"
        make docs
        if [[ -n $(git status --porcelain) ]]; then echo "Please update the docs using make docs"; exit 1; fi

  mm-govet:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18.x

    - name: check lints
      run: |
        echo "Installing mattermost-govet"
        go env GOPATH
        go install github.com/mattermost/mattermost-govet@master
        make gofmt govet

  tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        path: mmctl

    - name: Checkout mm-server
      uses: actions/checkout@v2
      with:
        repository: mattermost/mattermost-server
        ref: release-7.10 # we are referencing the latest release pre mono-repo
        path: mattermost-server
        fetch-depth: 0

    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18.x

    - name: Setup mattermost-server
      working-directory: mattermost-server
      run: |
        SERVER_HEAD=$GITHUB_HEAD_REF;
        if [[ $GITHUB_HEAD_REF == "master" ]]
        then
          SERVER_HEAD="release-7.10"
        fi;
        echo $SERVER_HEAD;
        git checkout $SERVER_HEAD || git checkout release-7.10

    - name: Start containers
      working-directory: mattermost-server/build
      env:
        COMPOSE_PROJECT_NAME: "actions"
      run: ../../mmctl/scripts/start-docker-compose.sh

    - name: Wait for docker compose
      working-directory: mmctl
      env:
        COMPOSE_PROJECT_NAME: "actions"
      run: ./scripts/wait-docker-compose.sh

    - name: Run Tests
      working-directory: mattermost-server/build
      env:
        COMPOSE_PROJECT_NAME: "actions"
      run: ../../mmctl/scripts/run-tests-ci.sh
